#Server
PORT=3004

# Enviroment
NODE_ENV=development

# RabbitMQ Connection
RABBITMQ_URL=amqp://user:password@localhost:5672

# Database
DATABASE_URL=postgres://user:password@localhost:5432/database_name